<h2>Quản lý Role</h2>

<div class="mb-3">
    <input type="text" id="txtRoleName" class="form-control w-25 d-inline"
           placeholder="Tên role mới" />
    <button id="btnAddRole" class="btn btn-primary ms-2">Thêm</button>
</div>

<table id="tblRoles" class="table table-bordered table-striped" width="100%">
    <thead>
        <tr style="text-align:center">
            <th>Tên role</th>
            <th>Thao tác</th>
        </tr>
    </thead>
</table>

<script type="module" src="~/js/pages/role.page.js"></script>
